{% extends 'base.html' %}

{% block title %}
Secret Page
{% endblock %}

{% block content %}
<h2>{{ user.username }}</h2>
<p> Real Name: {{ user.first_name }} {{ user.last_name }}</p>
<p>Email: {{ user.email }} </p>


<h6>Feedback from {{ user.username }}:</h6>
<ul>
{% for feedback in user.feedbacks %}
<li><a href="/feedback/{{ feedback.id }}">{{ feedback.title }}</a><br>
    <a class="btn" href="/feedback/{{ feedback.id }}/update">Edit</a>
    <a class="btn" href="/feedback/{{ feedback.id }}/delete">Delete</a>
</li>

{% endfor %}
</ul>
<a href="/users/{{ user.username }}/delete">Delete User</a>

{% endblock %}